body{
background:#fff;
display:flex;
align-items:center;
justify-content:center;
}

.board{
font-family: 'Josefin Slab', serif;
}

.header{
}


#canvas {
padding:10px;

}

.settings{
user-select:none;
}

.title-container{
display:flex;
justify-content:space-between;
padding:0 12px;
}

.title {
font-size:24px;
font-weight:500;
}

.rules-container{
	margin:20px 0 5px 0;
	display:flex;
	justify-content:center;
}

.rule-container{
	display:grid;	
	grid-template-columns: repeat(3,1fr);	
	margin: 0 4px;	
}

.rule-cell{
	width:8px;
	height:8px;
	background:#fff;
	margin:3px;
	box-shadow:0 0 0 1px #fff, 0 0 0 2px #999;
}

.alive {
	background:#333;
}

.result {
	grid-column:2;
}

.case-slider{
width:500px;
}

