body{
	display:grid;
	place-items:center;
	background:#111;	
	color:white;
}

#canvas {
	box-shadow: 0 0 0 20px white;
}

button {
	width:125px;
	height: 50px;
	font-size:1.5rem;
	background:white;
	border:none;
	padding:5 5 10 5;	
}

.slider{
	width:200px;	
}

.sliders-container {
	display:flex;
	flex-direction:column;
	padding: 20px;
}

.slider-container{
	padding:10px;
}

.slider-container span {
	padding:0 0 0 5px;
}


